# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Pandas-and-SQL" data-toc-modified-id="Pandas-and-SQL-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Pandas and SQL</a></div><div class="lev2 toc-item"><a href="#Task-1" data-toc-modified-id="Task-1-11"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Task 1</a></div><div class="lev2 toc-item"><a href="#Task-2" data-toc-modified-id="Task-2-12"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Task 2</a></div><div class="lev2 toc-item"><a href="#Task-3" data-toc-modified-id="Task-3-13"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Task 3</a></div><div class="lev1 toc-item"><a href="#Information-Schema" data-toc-modified-id="Information-Schema-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Information Schema</a></div><div class="lev2 toc-item"><a href="#Task-4" data-toc-modified-id="Task-4-21"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Task 4</a></div><div class="lev2 toc-item"><a href="#Task-5" data-toc-modified-id="Task-5-22"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Task 5</a></div><div class="lev1 toc-item"><a href="#String-Formatting" data-toc-modified-id="String-Formatting-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>String Formatting</a></div><div class="lev2 toc-item"><a href="#Task-6" data-toc-modified-id="Task-6-31"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Task 6</a></div>

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pandas.io.sql as psql
import psycopg2
from sqlalchemy import create_engine

import credentials

In [2]:
conn = psycopg2.connect(**credentials.gpdb_login_dict)
conn.autocommit = True

# Pandas and SQL
Pandas is a Python library which is used to store and manipulate tabular data. We can use Pandas in conjunction with SQL by using the `pandas.io.sql` library. We can input a SQL query as a string and run it in HAWQ. This will return the result as a Pandas DataFrame.

Note: We must make sure to limit the number of rows we take since this data is being brought in locally.

In [3]:
sql = '''
SELECT *
  FROM credit_scores
 LIMIT 100;
'''
df = psql.read_sql(sql, conn)

In [4]:
print type(df)

df.head()

<class 'pandas.core.frame.DataFrame'>

,serious_dlq_in_2_yrs,revolving_util_unsecured_lines,age,num_time_30_59_days_past_due_not_worse,debt_ratio,monthly_income,num_open_credit_line_loans,num_time_90_days_late,num_real_estate_loan_lines,num_time_60_89_days_past_due_not_worse,num_dependents
0,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
1,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
2,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
3,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0
4,0,0.213179,74,0,0.375607,3500.0,3,0,1,0,1.0

## Task 1

Select the columns `serious_dlq_in_2_yrs`, `revolving_util_unsecured_lines`, and `age` from the `credit_scores` table.

In [5]:
sql = '''
SELECT serious_dlq_in_2_yrs,
       revolving_util_unsecured_lines,
       age
  FROM credit_scores
 LIMIT 50;
'''
psql.read_sql(sql, conn)

    serious_dlq_in_2_yrs  revolving_util_unsecured_lines  age
0                      1                        0.766127   45
1                      1                        0.964673   40
2                      1                        0.025656   38
3                      1                        0.392248   50
4                      1                        0.728150   31
5                      1                        0.133063   49
6                      1                        0.734478   45
7                      1                        1.046279   47
8                      1                        0.946964   35
9                      1                        0.085338   51
10                     1                        0.000000   25
11                     1                        0.786485   44
12                     1                        0.025892   38
13                     1                        0.655316   63
14                     1                        1.953488   38
15                     1                        0.973339   61
16                     1                        1.048211   58
17                     1                        0.220824   46
18                     1                        0.037198   47
19                     1                        0.880371   43
20                     1                        0.635721   68
21                     1                        0.953344   48
22                     1                        0.739146   63
23                     1                        0.802417   58
24                     1                        0.733885   49
25                     1                        0.991502   61
26                     1                        1.000000   32
27                     1                        0.579851   42
28                     1                        1.000000   54
29                     1                        0.913140   37
30                     1                        0.814155   50
31                     1                        0.640059   39
32                     1                        0.955546   52
33                     1                        0.339504   89
34                     1                        0.517045   61
35                     1                        0.387066   51
36                     1                        0.402346   37
37                     1                        0.314686   51
38                     1                        0.149314   36
39                     1                        1.248751   33
40                     1                        0.990764   36
41                     1                     2066.000000   58
42                     1                        0.987669   39
43                     1                        0.023313   58
44                     1                        0.000000   32
45                     1                        1.008507   58
46                     1                        1.257485   26
47                     1                        0.962947   50
48                     1                        0.000000   44
49                     1                        0.719760   47

## Task 2

Get the average number of dependents of all customers in the data set.

In [6]:
sql = '''
SELECT AVG(num_dependents)
  FROM credit_scores;
'''
psql.read_sql(sql, conn)

        avg
0  0.757222

## Task 3
Get the minimum, average, and maximum number of dependents in the data set by age.

Hint: Use a `GROUP BY` clause.

In [7]:
sql = '''
SELECT age,
       MIN(num_dependents) AS min_num_dependents,
       AVG(num_dependents) AS avg_num_dependents,
       MAX(num_dependents) AS max_num_dependents
  FROM credit_scores
 GROUP BY age
 ORDER BY age;
'''
psql.read_sql(sql, conn)

    age  min_num_dependents  avg_num_dependents  max_num_dependents
0     0                 2.0            2.000000                 2.0
1    21                 0.0            0.032895                 2.0
2    22                 0.0            0.042929                 3.0
3    23                 0.0            0.113523                 3.0
4    24                 0.0            0.130263                 4.0
5    25                 0.0            0.218922                 5.0
6    26                 0.0            0.259582                 4.0
7    27                 0.0            0.319813                 4.0
8    28                 0.0            0.401316                 5.0
9    29                 0.0            0.463019                 6.0
10   30                 0.0            0.507903                 7.0
11   31                 0.0            0.594742                 5.0
12   32                 0.0            0.728755                 5.0
13   33                 0.0            0.793243                 6.0
14   34                 0.0            0.878474                 6.0
15   35                 0.0            0.951220                 8.0
16   36                 0.0            0.996586                 7.0
17   37                 0.0            1.129369                 9.0
18   38                 0.0            1.170450                 9.0
19   39                 0.0            1.248904                10.0
20   40                 0.0            1.292906                20.0
21   41                 0.0            1.314803                 8.0
22   42                 0.0            1.351767                 7.0
23   43                 0.0            1.355102                10.0
24   44                 0.0            1.353390                10.0
25   45                 0.0            1.313256                 7.0
26   46                 0.0            1.337705                 8.0
27   47                 0.0            1.300191                10.0
28   48                 0.0            1.244587                 9.0
29   49                 0.0            1.193548                 8.0
..  ...                 ...                 ...                 ...
56   76                 0.0            0.176840                 2.0
57   77                 0.0            0.152132                 3.0
58   78                 0.0            0.174747                 4.0
59   79                 0.0            0.178142                 3.0
60   80                 0.0            0.156934                 3.0
61   81                 0.0            0.127809                 3.0
62   82                 0.0            0.125418                 4.0
63   83                 0.0            0.103672                 2.0
64   84                 0.0            0.077449                 2.0
65   85                 0.0            0.078161                 2.0
66   86                 0.0            0.147139                 4.0
67   87                 0.0            0.109677                 3.0
68   88                 0.0            0.083019                 2.0
69   89                 0.0            0.053719                 2.0
70   90                 0.0            0.113772                 1.0
71   91                 0.0            0.077519                 1.0
72   92                 0.0            0.085366                 1.0
73   93                 0.0            0.042857                 1.0
74   94                 0.0            0.057143                 1.0
75   95                 0.0            0.108108                 1.0
76   96                 0.0            0.142857                 1.0
77   97                 0.0            0.083333                 1.0
78   98                 0.0            0.000000                 0.0
79   99                 0.0            0.000000                 0.0
80  101                 0.0            0.000000                 0.0
81  102                 0.0            0.333333                 1.0
82  103                 0.0            0.000000                 0.0
83  105                 NaN                 NaN                 NaN
84  107                 0.0            0.000000                 0.0
85  109                 NaN                 NaN                 NaN

[86 rows x 4 columns]

# Information Schema

HAWQ is built off of PostgreSQL and so it retains all of its functionality. A useful schema in Postgres is the `information_schema` which contains views for table and column information. These are essentially self-updating tables that list all of the tables in the database and their columns. These are found in `information_schema.tables` and `information_schema.columns` respectively.

In [8]:
# We can select all of the tables with this query
sql = '''
SELECT *
  FROM information_schema.tables;
'''
psql.read_sql(sql, conn)

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,gpadmin,information_schema,sql_languages,BASE TABLE,None,None,None,None,None,YES,NO,None
1,gpadmin,information_schema,sql_packages,BASE TABLE,None,None,None,None,None,YES,NO,None
2,gpadmin,information_schema,sql_parts,BASE TABLE,None,None,None,None,None,YES,NO,None
3,gpadmin,information_schema,sql_sizing,BASE TABLE,None,None,None,None,None,YES,NO,None
4,gpadmin,information_schema,sql_sizing_profiles,BASE TABLE,None,None,None,None,None,YES,NO,None
5,gpadmin,information_schema,table_constraints,VIEW,None,None,None,None,None,NO,NO,None
6,gpadmin,information_schema,table_privileges,VIEW,None,None,None,None,None,NO,NO,None
7,gpadmin,information_schema,tables,VIEW,None,None,None,None,None,NO,NO,None
8,gpadmin,information_schema,triggered_update_columns,VIEW,None,None,None,None,None,NO,NO,None
9,gpadmin,information_schema,triggers,VIEW,None,None,None,None,None,NO,NO,None
10,gpadmin,information_schema,usage_privileges,VIEW,None,None,None,None,None,NO,NO,None
11,gpadmin,information_schema,view_column_usage,VIEW,None,None,None,None,None,NO,NO,None
12,gpadmin,information_schema,view_routine_usage,VIEW,None,None,None,None,None,NO,NO,None
13,gpadmin,information_schema,view_table_usage,VIEW,None,None,None,None,None,NO,NO,None
14,gpadmin,information_schema,views,VIEW,None,None,None,None,None,NO,NO,None
15,gpadmin,information_schema,data_type_privileges,VIEW,None,None,None,None,None,NO,NO,None
16,gpadmin,information_schema,element_types,VIEW,None,None,None,None,None,NO,NO,None
17,gpadmin,information_schema,_pg_foreign_data_wrappers,VIEW,None,None,None,None,None,NO,NO,None
18,gpadmin,information_schema,foreign_data_wrapper_options,VIEW,None,None,None,None,None,NO,NO,None
19,gpadmin,information_schema,foreign_data_wrappers,VIEW,None,None,None,None,None,NO,NO,None
20,gpadmin,information_schema,_pg_foreign_servers,VIEW,None,None,None,None,None,NO,NO,None
21,gpadmin,information_schema,foreign_server_options,VIEW,None,None,None,None,None,NO,NO,None
22,gpadmin,information_schema,foreign_servers,VIEW,None,None,None,None,None,NO,NO,None
23,gpadmin,information_schema,_pg_user_mappings,VIEW,None,None,None,None,None,NO,NO,None
24,gpadmin,information_schema,user_mapping_options,VIEW,None,None,None,None,None,NO,NO,None
25,gpadmin,information_schema,user_mappings,VIEW,None,None,None,None,None,NO,NO,None
26,gpadmin,pg_catalog,gp_pgdatabase,VIEW,None,None,None,None,None,NO,NO,None
27,gpadmin,pg_catalog,gp_distributed_xacts,VIEW,None,None,None,None,None,NO,NO,None
28,gpadmin,pg_catalog,gp_transaction_log,VIEW,None,None,None,None,None,NO,NO,None
29,gpadmin,pg_catalog,gp_distributed_log,VIEW,None,None,None,None,None,NO,NO,None
...,...,...,...,...,...,...,...,...,...,...,...,...
219,gpadmin,gp_toolkit,gp_resqueue_status,VIEW,None,None,None,None,None,NO,NO,None
220,gpadmin,gp_toolkit,gp_workfile_entries,VIEW,None,None,None,None,None,NO,NO,None
221,gpadmin,gp_toolkit,gp_workfile_usage_per_segment,VIEW,None,None,None,None,None,NO,NO,None
222,gpadmin,gp_toolkit,gp_workfile_usage_per_query,VIEW,None,None,None,None,None,NO,NO,None
223,gpadmin,madlib,migrationhistory,BASE TABLE,None,None,None,None,None,YES,NO,None
224,gpadmin,public,spatial_ref_sys,BASE TABLE,None,None,None,None,None,YES,NO,None
225,gpadmin,public,geography_columns,VIEW,None,None,None,None,None,NO,NO,None
226,gpadmin,public,geometry_columns,VIEW,None,None,None,None,None,NO,NO,None
227,gpadmin,public,test_table,BASE TABLE,None,None,None,None,None,YES,NO,None
228,gpadmin,public,madlib_temp_dcb3a462_138b_a0aea7_19e5da78c4f2,BASE TABLE,None,None,None,None,None,YES,NO,None
229,gpadmin,public,madlib_temp_dcb3a462_138b_a0aea7_19e5da78c4f2_...,BASE TABLE,None,None,None,None,None,YES,NO,None
230,gpadmin,public,madlib_temp_dcb3a462_138b_a0aea7_19e5da78c4f2_...,BASE TABLE,None,None,None,None,None,YES,NO,None
231,gpadmin,public,madlib_temp_86204cde_cb2f_aba0ac_b1290e856acd,BASE TABLE,None,None,None,None,None,YES,NO,None
232,gpadmin,public,madlib_temp_86204cde_cb2f_aba0ac_b1290e856acd_...,BASE TABLE,None,None,None,None,None,YES,NO,None
233,gpadmin,public,madlib_temp_86204cde_cb2f_aba0ac_b1290e856acd_...,BASE TABLE,None,None,None,None,None,YES,NO,None
234,gpadmin,public,credit_scores_logregr_out,BASE TABLE,None,None,None,None,None,YES,NO,None
235,gpadmin,public,credit_scores_logregr_out_summary,BASE TABLE,None,None,None,None,None,YES,NO,None
236,gpadmin,public,credit_scores_id,BASE TABLE,None,None,None,None,None,YES,NO,None
237,gpadmin,public,credit_scores_logregr_results,BASE TABLE,None,None,None,None,None,YES,NO,None
238,gpadmin,public,credit_scores_logregr_results_summary,BASE TABLE,None,None,None,None,None,YES,NO,None
239,gpadmin,public,credit_scores,BASE TABLE,None,None,None,None,None,YES,NO,None
240,gpadmin,public,random_forest_pred_full,BASE TABLE,None,None,None,None,None,YES,NO,None
241,gpadmin,public,credit_scores_dropna,BASE TABLE,None,None,None,None,None,YES,NO,None
242,gpadmin,public,credit_scores_train,BASE TABLE,None,None,None,None,None,YES,NO,None
243,gpadmin,public,credit_scores_test,BASE TABLE,None,None,None,None,None,YES,NO,None
244,gpadmin,public,random_forest_pckl,BASE TABLE,None,None,None,None,None,YES,NO,None
245,gpadmin,public,random_forest_pred_batch,BASE TABLE,None,None,None,None,None,YES,NO,None
246,gpadmin,public,random_forest_pred_score_batch,BASE TABLE,None,None,None,None,None,YES,NO,None
247,gpadmin,public,test,BASE TABLE,None,None,None,None,None,YES,NO,None
248,gpadmin,public,test_summary,BASE TABLE,None,None,None,None,None,YES,NO,None

In [9]:
# We can select all of the columns with this query
sql = '''
SELECT *
  FROM information_schema.columns;
'''
psql.read_sql(sql, conn)

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,gpadmin,pg_catalog,pg_type,typname,1,None,NO,name,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
1,gpadmin,pg_catalog,pg_type,typnamespace,2,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2,gpadmin,pg_catalog,pg_type,typowner,3,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
3,gpadmin,pg_catalog,pg_type,typlen,4,None,NO,smallint,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
4,gpadmin,pg_catalog,pg_type,typbyval,5,None,NO,boolean,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
5,gpadmin,pg_catalog,pg_type,typtype,6,None,NO,"""char""",NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
6,gpadmin,pg_catalog,pg_type,typisdefined,7,None,NO,boolean,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
7,gpadmin,pg_catalog,pg_type,typdelim,8,None,NO,"""char""",NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
8,gpadmin,pg_catalog,pg_type,typrelid,9,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
9,gpadmin,pg_catalog,pg_type,typelem,10,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
10,gpadmin,pg_catalog,pg_type,typinput,11,None,NO,regproc,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
11,gpadmin,pg_catalog,pg_type,typoutput,12,None,NO,regproc,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
12,gpadmin,pg_catalog,pg_type,typreceive,13,None,NO,regproc,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
13,gpadmin,pg_catalog,pg_type,typsend,14,None,NO,regproc,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
14,gpadmin,pg_catalog,pg_type,typanalyze,15,None,NO,regproc,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
15,gpadmin,pg_catalog,pg_type,typalign,16,None,NO,"""char""",NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
16,gpadmin,pg_catalog,pg_type,typstorage,17,None,NO,"""char""",NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
17,gpadmin,pg_catalog,pg_type,typnotnull,18,None,NO,boolean,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
18,gpadmin,pg_catalog,pg_type,typbasetype,19,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
19,gpadmin,pg_catalog,pg_type,typtypmod,20,None,NO,integer,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
20,gpadmin,pg_catalog,pg_type,typndims,21,None,NO,integer,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
21,gpadmin,pg_catalog,pg_type,typdefaultbin,22,None,YES,text,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,YES
22,gpadmin,pg_catalog,pg_type,typdefault,23,None,YES,text,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,YES
23,gpadmin,pg_catalog,pg_proc,proname,1,None,NO,name,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
24,gpadmin,pg_catalog,pg_proc,pronamespace,2,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
25,gpadmin,pg_catalog,pg_proc,proowner,3,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
26,gpadmin,pg_catalog,pg_proc,prolang,4,None,NO,oid,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
27,gpadmin,pg_catalog,pg_proc,proisagg,5,None,NO,boolean,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
28,gpadmin,pg_catalog,pg_proc,prosecdef,6,None,NO,boolean,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
29,gpadmin,pg_catalog,pg_proc,proisstrict,7,None,NO,boolean,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2103,gpadmin,public,random_forest_pred_batch,max_depth,1,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2104,gpadmin,public,random_forest_pred_batch,iter_num,2,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2105,gpadmin,public,random_forest_pred_batch,score,3,None,YES,ARRAY,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2106,gpadmin,public,random_forest_pred_batch,row_id_array,4,None,YES,ARRAY,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2107,gpadmin,public,random_forest_pred_score_batch,row_id,1,None,YES,bigint,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2108,gpadmin,public,random_forest_pred_score_batch,max_depth,2,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2109,gpadmin,public,random_forest_pred_score_batch,iter_num,3,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2110,gpadmin,public,random_forest_pred_score_batch,score,4,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2111,gpadmin,public,random_forest_pred_score_batch,serious_dlq_in_2_yrs,5,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2112,gpadmin,public,test,col_1,1,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2113,gpadmin,public,test_summary,group_by,1,None,YES,text,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,YES
2114,gpadmin,public,test_summary,group_by_value,2,None,YES,text,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,YES
2115,gpadmin,public,test_summary,target_column,3,None,YES,text,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,YES
2116,gpadmin,public,test_summary,column_number,4,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2117,gpadmin,public,test_summary,data_type,5,None,YES,text,NaN,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,YES
2118,gpadmin,public,test_summary,row_count,6,None,YES,bigint,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2119,gpadmin,public,test_summary,distinct_values,7,None,YES,bigint,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2120,gpadmin,public,test_summary,missing_values,8,None,YES,bigint,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2121,gpadmin,public,test_summary,blank_values,9,None,YES,bigint,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2122,gpadmin,public,test_summary,fraction_missing,10,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2123,gpadmin,public,test_summary,fraction_blank,11,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2124,gpadmin,public,test_summary,mean,12,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2125,gpadmin,public,test_summary,variance,13,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2126,gpadmin,public,test_summary,min,14,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2127,gpadmin,public,test_summary,max,15,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2128,gpadmin,public,test_summary,first_quartile,16,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2129,gpadmin,public,test_summary,median,17,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2130,gpadmin,public,test_summary,third_quartile,18,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2131,gpadmin,public,test_summary,most_frequent_values,19,None,YES,ARRAY,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
2132,gpadmin,public,test_summary,mfv_frequencies,20,None,YES,ARRAY,NaN,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES

## Task 4
Get all table names from the `public` schema.

In [10]:
sql = '''
SELECT table_name
  FROM information_schema.tables
 WHERE table_schema = 'public'
'''
psql.read_sql(sql, conn)

                                           table_name
0                                     spatial_ref_sys
1                                   geography_columns
2                                    geometry_columns
3                                          test_table
4       madlib_temp_dcb3a462_138b_a0aea7_19e5da78c4f2
5   madlib_temp_dcb3a462_138b_a0aea7_19e5da78c4f2_...
6   madlib_temp_dcb3a462_138b_a0aea7_19e5da78c4f2_...
7       madlib_temp_86204cde_cb2f_aba0ac_b1290e856acd
8   madlib_temp_86204cde_cb2f_aba0ac_b1290e856acd_...
9   madlib_temp_86204cde_cb2f_aba0ac_b1290e856acd_...
10                          credit_scores_logregr_out
11                  credit_scores_logregr_out_summary
12                                   credit_scores_id
13                      credit_scores_logregr_results
14              credit_scores_logregr_results_summary
15                                      credit_scores
16                            random_forest_pred_full
17                               credit_scores_dropna
18                                credit_scores_train
19                                 credit_scores_test
20                                 random_forest_pckl
21                           random_forest_pred_batch
22                     random_forest_pred_score_batch
23                                               test
24                                       test_summary

## Task 5
Get all of the columns of the `credit_scores` table in their proper order.

Hint: Sort by the `ordinal_position` column.

In [11]:
sql = '''
SELECT column_name
  FROM information_schema.columns
 WHERE table_schema = 'public'
   AND table_name = 'credit_scores'
 ORDER BY ordinal_position;
'''
col_names_df = psql.read_sql(sql, conn)
col_names = col_names_df.column_name

col_names_df

                               column_name
0                     serious_dlq_in_2_yrs
1           revolving_util_unsecured_lines
2                                      age
3   num_time_30_59_days_past_due_not_worse
4                               debt_ratio
5                           monthly_income
6               num_open_credit_line_loans
7                    num_time_90_days_late
8               num_real_estate_loan_lines
9   num_time_60_89_days_past_due_not_worse
10                          num_dependents

# String Formatting
The main advantage of using Python and `psycopg2` to interact with HAWQ as opposed to DBeaver or pgAdmin is that we can manipulated our SQL queries. We do this by using Python string functions to manipulate the text.

String formatting works by defining a string with `{}` inside of a string. The string has a `format` function which will take in values that will replace the `{}`.

In [12]:
x = 100
example_string = 'The value of x is {}!'.format(x)

print example_string

The value of x is 100!

## Task 6

Let's select all columns of `credit_scores` except `age`. We can do this by storing these into a list, removing `age`, then inserting the remaining names into a SQL query.

Hint: Use the string's <a href='https://www.tutorialspoint.com/python/string_join.htm'>`join`</a> function to join a list into a string.

In [13]:
# Define a list that includes all columns except age
desired_cols = col_names[col_names != 'age'].tolist()

print desired_cols

['serious_dlq_in_2_yrs', 'revolving_util_unsecured_lines', 'num_time_30_59_days_past_due_not_worse', 'debt_ratio', 'monthly_income', 'num_open_credit_line_loans', 'num_time_90_days_late', 'num_real_estate_loan_lines', 'num_time_60_89_days_past_due_not_worse', 'num_dependents']

In [14]:
sql = '''
SELECT {}
  FROM credit_scores
 LIMIT 100;
'''.format(', '.join(desired_cols))

psql.read_sql(sql, conn)

,serious_dlq_in_2_yrs,revolving_util_unsecured_lines,num_time_30_59_days_past_due_not_worse,debt_ratio,monthly_income,num_open_credit_line_loans,num_time_90_days_late,num_real_estate_loan_lines,num_time_60_89_days_past_due_not_worse,num_dependents
0,1,0.766127,2,0.802982,9120.0,13,0,6,0,2.0
1,1,0.964673,3,0.382965,13700.0,9,3,1,1,2.0
2,1,0.025656,0,0.475841,3000.0,7,0,1,0,2.0
3,1,0.392248,0,1.595253,4676.0,14,0,3,0,1.0
4,1,0.728150,0,0.824725,3000.0,10,0,2,0,1.0
5,1,0.133063,1,0.182882,10257.0,9,0,2,0,3.0
6,1,0.734478,0,0.591478,4716.0,13,0,2,0,2.0
7,1,1.046279,1,1.104301,5416.0,6,0,2,0,1.0
8,1,0.946964,0,1593.000000,NaN,6,0,1,0,1.0
9,1,0.085338,0,0.477504,6200.0,11,0,1,0,0.0
10,1,0.000000,0,0.152897,2916.0,3,0,0,1,0.0
11,1,0.786485,0,0.291710,3883.0,7,2,0,2,1.0
12,1,0.025892,0,74.500000,1.0,13,0,0,0,2.0
13,1,0.655316,0,5223.000000,NaN,19,0,2,0,0.0
14,1,1.953488,0,0.153500,3556.0,5,0,0,0,2.0
15,1,0.973339,1,0.209962,5500.0,11,0,0,1,1.0
16,1,1.048211,7,0.151957,3500.0,12,0,0,0,0.0
17,1,0.220824,1,0.637749,1705.0,5,0,0,0,0.0
18,1,0.037198,0,0.039758,25000.0,11,0,1,0,3.0
19,1,0.880371,0,0.461324,7523.0,6,0,1,0,1.0
20,1,0.635721,1,0.218071,25000.0,27,0,3,0,0.0
21,1,0.953344,2,2073.000000,NaN,5,1,2,2,0.0
22,1,0.739146,1,0.285157,6150.0,12,0,0,0,1.0
23,1,0.802417,1,668.000000,NaN,5,1,0,0,0.0
24,1,0.733885,2,0.369224,8785.0,20,0,2,0,2.0
25,1,0.991502,10,1.297901,3000.0,11,2,3,5,1.0
26,1,1.000000,0,0.006731,3416.0,1,0,0,0,3.0
27,1,0.579851,0,0.594224,2700.0,8,0,0,0,0.0
28,1,1.000000,0,0.228403,2372.0,2,0,0,1,0.0
29,1,0.913140,2,1.620345,4000.0,16,0,3,0,1.0
...,...,...,...,...,...,...,...,...,...,...
70,1,0.887081,0,0.482276,4710.0,4,0,1,1,2.0
71,1,0.767840,3,0.296449,2900.0,4,1,0,1,0.0
72,1,0.041192,0,0.261369,2000.0,3,0,0,0,0.0
73,1,0.965035,0,0.062792,7500.0,2,0,1,1,2.0
74,1,1.008516,1,2.219737,5633.0,23,0,4,0,0.0
75,1,1.000000,0,0.254257,6166.0,5,1,1,1,2.0
76,1,1.000000,0,0.015108,5625.0,2,0,0,0,1.0
77,1,0.983078,0,0.884470,4500.0,17,0,2,0,2.0
78,1,0.972151,0,1.473798,1850.0,12,0,2,0,0.0
79,1,0.617026,0,0.160913,3417.0,5,0,0,0,0.0
80,1,0.409985,1,0.279981,14600.0,15,0,2,0,0.0
81,1,0.826441,0,0.653680,5800.0,9,0,1,0,2.0
82,1,0.000000,0,0.345825,16383.0,20,0,3,0,1.0
83,1,0.000000,1,0.526684,8000.0,4,1,2,1,1.0
84,1,0.702381,0,0.866733,14166.0,21,0,6,0,3.0
85,1,1.083406,3,0.490218,3526.0,10,0,1,1,1.0
86,1,1.000000,0,31.000000,NaN,0,2,0,0,0.0
87,1,0.602747,0,0.260609,9166.0,4,0,0,0,1.0
88,1,1.000000,1,0.900911,3400.0,6,0,2,0,0.0
89,1,0.983339,0,0.106808,1600.0,9,0,0,0,0.0
90,1,0.922506,0,0.501614,12700.0,11,0,4,0,1.0
91,1,1.000000,1,1305.000000,NaN,2,0,1,0,0.0
92,1,1.000000,0,0.237812,6727.0,2,4,0,1,1.0
93,1,0.537417,1,2748.000000,NaN,5,3,1,3,0.0
94,1,1.000000,98,0.000000,2700.0,0,98,0,98,0.0
95,1,0.197702,1,0.258874,10000.0,7,0,2,1,1.0
96,1,0.768821,1,0.569585,1781.0,6,0,0,0,0.0
97,1,1.000000,1,520.000000,NaN,3,0,1,1,0.0
98,1,0.978808,1,0.428419,3750.0,5,4,0,0,1.0
99,1,1.050952,3,0.801222,1800.0,7,3,2,0,0.0